figcaption {
  position: absolute;
  bottom: 15rem;
  margin: 0 8rem;
  font-size: 7em;
  color: #8da6a6;
  font-weight: bold;
  text-shadow: 4px 4px 4px black, 0 0 6px black;
}

@media screen and (max-width: 1024px) {
  figcaption {
    position: inherit;
    bottom: inherit;
    color: rgb(226, 236, 218);
    font-size: 5em;
  }
}

@media screen and (max-width: 768px) {
  figcaption {
    position: inherit;
    bottom: inherit;
    color: rgb(226, 236, 218);
    font-size: 3em;
  }
}

@media screen and (max-width: 375px) {
  figcaption {
    position: inherit;
    bottom: inherit;
    color: rgb(226, 236, 218);
    font-size: 1.5em;
  }
}