figcaption {
  position: absolute;
  bottom: 15rem;
  margin: 0 8rem;
  font-size: 7em;
  color: #8da6a6;
  font-weight: bold;
  text-shadow: 1px 1px 0px black;
}

.posi {
  box-shadow: 0px 0px 8px 8px inset;
}

@media screen and (max-width: 768px) {
  figcaption {
    position: inherit;
    bottom: inherit;
    color: black;
    font-size: 1em;
  }
}