.card {
  padding: 5px;
  background-color: rgb(226, 236, 218);
  border: 3px solid black;
  margin: 2rem;
  box-shadow: 10px 15px 15px rgb(0, 0, 0);
  border-radius: 10px;
}

.bb {
  margin-top: auto;
  margin: 5px;

}

.cardText {
  min-height: 12em;
  max-height: 12em;
  overflow-y: auto;
}

.cardText:hover {
  cursor: all-scroll;
}

.cardCont {
  display: flex;
  flex-direction: column;
}

.cardImage {
  height: 10em;
}

.cardTitle {
  height: 2em;
}