.links {
  justify-content: space-evenly;
  color: black;
}

.name {
  font-size: 40px;
  padding: 10px;
}

.navBack {
  background-color: rgb(226, 236, 218);
  border-bottom: 3px solid black;
}

.nav-link {
  font-size: 22px;
}