Navbar {
  color: red;
}

.links {
  justify-content: space-evenly;
  color: red;
}

.link {
  color: red;
}

.links-container {
  /* width: 50vw; */
  /* display: block; */
  color: red;
}

.name {
  font-size: 30px;
  padding: 10px;
}

.navBack {
  background-color: goldenrod;
}